<%= form_for(white_list) do |f| %>
  <% if white_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(white_list.errors.count, "error") %> prohibited this white_list from being saved:</h2>

      <ul>
      <% white_list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :IdUsuario %>
    <%= f.number_field :IdUsuario %>
  </div>

  <div class="field">
    <%= f.label :IdTran %>
    <%= f.text_field :IdTran %>
  </div>

  <div class="field">
    <%= f.label :Fecha %>
    <%= f.text_field :Fecha %>
  </div>

  <div class="field">
    <%= f.label :Estado %>
    <%= f.check_box :Estado %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
